
<div style="width: 90%; display: flex; margin:auto; text-align: center; background-color: #fef4f4;">
  <div class="col-sm-12 col-lg-4">
    <h2 style="margin: 20px;"><%= link_to "メッセージ作成", new_message_path %></h2>
  </div>
  <div class="col-sm-12 col-lg-4">
      <h2 style="margin: 20px;">受信一覧</h2>
  </div>
  <div class="col-sm-12 col-lg-4">
  <% mes = [] %>
  <% @messages.each do |me| %>
  <% mes << me.id %>
  <% end %>
  <h2 style="margin: 20px;"><%= link_to '一括削除', alldel_messages_path(mes: mes), data: { confirm: "表示されているメッセージを一括削除します。\n削除したメッセージは相手からも見えなくなります。\nすべて既読であることを確認してください。" }  %></h2>
  </div>
</div>

<% unless @messages.present? %>
<h2 style="margin: 20px;">送信メッセージはありません。</h2>
<% else %>
  <table style="width:90%; border:3px solid; margin:auto; text-align: center;">
    <thead>
      <tr>
        <th style="width:30%;">名前</th>
        <th style="width:40%;">内容</th>
        <th style="width:10%">受信者</th>
        <th style="width:10%">確認</th>
        <th style="width:10%">削除</th>
      </tr>
    </thead>
  
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td style="border:2px solid"><%= message.create_name %>さんからのメッセージ</td>
          <td style="border:2px solid; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; max-width: 600px; "><%= html_newline(message.content) %></td>
          <td style="border:2px solid">
          <% if message.read_flg? %>
            <font color=blue>既読</font>
          <% else %>
            <font color=red>未読</font>
          <% end %>
          </td>
          <td style="border:2px solid"><%= link_to '確認', message_path(message.id) %></td>
          <td style="border:2px solid"><%= link_to '削除', message, method: :delete, data: { confirm: "受信メッセージを削除します。\n削除したメッセージは相手からも見えなくなります。\n既読であることを確認してください。" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @messages %>
<% end %>
