<div class="new_box">
<h1>ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :メールアドレス %><br>
  <%= f.text_field :email %><br>
  <%= f.label :パスワード %><br>
  <%= f.password_field :password %><br>
  <%= f.check_box :remember_me %>
  <span>自動ログインを許可します</span><br><br><br>
  <%= f.submit "ログイン", class: "btn btn-primary"  %>
<% end %>
</div>