<div class="d-flex flex-wrap">
   <div class="col-sm-12 col-lg-6">
      <div style="width: 500px; height: 500px;">
      <%= pie_chart @attend_ratio, donut: true, suffix: "人", id: "users-chartA", width: "500px", height: "500px", colors: ["#a22041", "#7b7c7d"], legend: false %>
      <%= pie_chart @report_ratio, donut: true, suffix: "人", id: "users-chartB", width: "280px", height: "280px", colors: ["#006e54", "#7b7c7d"], legend: false %>
      <%= pie_chart @leave_ratio, suffix: "人", id: "users-chartC", width: "120px", height: "120px", colors: ["#1e50a2", "#7b7c7d"], legend: false %>
      </div>
   </div>

   <div class="col-sm-12 col-lg-6">
      <div style="width: 500px; height: 500px; margin-left: 20px;">
         <div style="display: flex;">
            <div style="width: 175px;">
               <h5>今日の日付</h5>
               <h5><%= Date.today.strftime('%Y年%m月%d日') %></h5>
            </div>
            <div style="width: 175px;">
               <h5>現在時刻</h5>
               <h5><p id="RealtimeClockArea2"><%= Time.current.strftime('%H時%M分%S秒').to_s %></p></h5>
            </div>
            <div style="width: 150px;">
               <h5>出席人数：<%= @user_count_att %>人</h5>
               <h5>欠席人数：<%= @user_count_holi %>人</h5>
            </div>
         </div>

         <div style="display: flex; border: 2px solid;">
            <div style="width: 100px;">
               <h6 style="color:#a22041;">出勤〇</h6>
               <h6 style="color:#006e54;">日報〇</h6>
               <h6 style="color:#1e50a2;">退勤〇</h6>
            </div>
            <div style="width: 300px;">
               <% @leave.size.times do |n| %>
                  <%= @leave["#{n}".to_i] %>　
               <% end %>
            </div>
         </div>

         <div style="display: flex; border: 2px solid;">
            <div style="width: 100px;">
               <h6 style="color:#a22041;">出勤〇</h6>
               <h6 style="color:#006e54;">日報〇</h6>
               <h6 style="font-weight: bold;">退勤×</h6>
            </div>
            <div style="width: 300px;">
               <% @report.size.times do |n| %>
                  <%= @report["#{n}".to_i] %>　
               <% end %>
            </div>
         </div>

         <div style="display: flex;  border: 2px solid;">
            <div style="width: 100px;">
               <h6 style="color:#a22041;">出勤〇</h6>
               <h6 style="font-weight: bold;">日報×</h6>
               <h6 style="font-weight: bold;">退勤×</h6>
            </div>
            <div style="width: 300px;">
               <% @attend.size.times do |n| %>
                  <%= @attend["#{n}".to_i] %>　
               <% end %>
            </div>
         </div>

         <div style="display: flex;  border: 2px solid;">
            <div style="width: 100px;">
               <h6 style="font-weight: bold;">未出勤</h6>
            </div>
            <div style="width: 300px;">
               <% @fulluser.size.times do |n| %>
                  <%= @fulluser["#{n}".to_i] %>　
               <% end %>
            </div>
         </div>

         <div style="display: flex;  border: 2px solid;">
         <div style="width: 100px;">
            <h6 style="font-weight: bold;">欠席者</h6>
         </div>
         <div style="width: 300px;">
            <% @holiuser.size.times do |n| %>
               <%= @holiuser["#{n}".to_i] %>　
            <% end %>
         </div>
      </div>

         <div style="display: flex;  border: 2px solid;">
            <div style="width: 100px;">
               <h6 style="font-weight: bold;">日報未提出</h6>
               <h6 style="font-weight: bold;">退勤打刻者</h6>
            </div>
            <div style="width: 300px;">
               <% @forgetuser.size.times do |n| %>
                  <%= @forgetuser["#{n}".to_i] %>　
               <% end %>
            </div>
         </div>

      </div>
<script>
function set2fig(num) {
    var ret;
    if( num < 10 ) { ret = "0" + num; }
    else { ret = num; }
    return ret;
 }
 function showClock2() {
    var nowTime = new Date();
    var nowHour = set2fig( nowTime.getHours() );
    var nowMin  = set2fig( nowTime.getMinutes() );
    var nowSec  = set2fig( nowTime.getSeconds() );
    var msg = "<h5>" + nowHour + "時" + nowMin + "分" + nowSec + "秒</h5>";
    document.getElementById("RealtimeClockArea2").innerHTML = msg;
 }
 setInterval('showClock2()',1000);
</script>
   </div>
</div>
