<h1>アカウント登録</h1>
<div class="user_box">
<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% templeteA = []  %>
<% groupA = []  %>

<% @templetes.each do |templete| %>
  <% templeteA << [templete.name, templete.id]  %>
<% end %>

<% @groups.each do |group| %>
  <% groupA << [group.name, group.id]  %>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
<p>  <%= f.label :社員番号 %>：
<%= f.text_field :number, :size => 32, :placeholder => "30文字以内" %></p>  
<p>  <%= f.label :名前 %>：
<%= f.text_field :name, :size => 32, :placeholder => "30文字以内" %></p>
<p>  <%= f.label :権限 %> ：
<%= f.radio_button :admin, :true %>
<%= f.label :admin, "管理者：", {value: :true, style: "display: inline-block;"} %>
<%= f.radio_button :admin, :false %>
<%= f.label :admin, "一般：", {value: :false, style: "display: inline-block;", checked: true }%>
</p>
<p><%= f.label :メールアドレス %>：
<%= f.email_field :email, :size => 32 %></p>

<p><%= f.label :勤怠テンプレート %>：
<%= f.select :templete, templeteA %></p>

<p><%= f.label :所属グループ %>：
<%= f.select :group, groupA %></p>

<p><%= f.label :パスワード %>：
<%= f.password_field :password, :placeholder => "半角英数字6文字以上" %>
<%= f.password_field :password_confirmation, :placeholder => "確認のため再入力" %>
</p>

<p>  <%= f.submit "登録", class: "btn btn-primary"  %> </p>
<% end %>
</div>
