<h1>アカウント詳細</h1>

<p>社員番号：<%= @user.number %></p>
<p>名前：<%= @user.name %></p>
<p>権限：
<% if @user.admin? %>
<%= "管理者" %>
<% else %>
<%= "一般" %>
<% end %>
</p>
<p>メールアドレス：<%= @user.email %></p>
