<h2 style="margin: 20px;">スケジュール編集（<%= @user.name %>：<%= @schedule.schedule_date.strftime("%Y年%m月%d日") %>）</h2>
<div class="user_box">

<% if @schedule.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @schedule.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @schedule, local: true) do |f| %>
<div class="d-flex flex-wrap">
    <div class="col-sm-12 col-lg-4">
        <%= f.label :開始 %>：<%= f.time_field :start_time, value:f.object.start_time.try(:strftime,'%H:%M') %>
    </div>
    <div class="col-sm-12 col-lg-1"> ～ </div>
    <div class="col-sm-12 col-lg-4">
        <%= f.label :終了 %>：<%= f.time_field :end_time,value:f.object.end_time.try(:strftime,'%H:%M') %>
    </div>
    <div class="col-sm-12 col-lg-12">
    <br>
        <%= f.label :ステータス %>：<%= f.text_field :status %>
    </div>
    <div class="col-sm-12 col-lg-12">
    <br>
        <%= f.label :コメント %>：<%= f.text_area :comment, class: "form-control",id: "exampleFormControlTextarea1", style: "height:120px; wrap:hard;" %>
    </div>
    <div class="col-sm-12 col-lg-4">
    <br>
        <%= f.submit "更新する", class: "btn btn-primary"  %>
    </div>
    <div class="col-sm-12 col-lg-4">
       <h4 style="margin-top: 30px;"><%= link_to t('common.back'), schedules_path %></h4>
    </div>
</div>
<% end %>
</div>
