<h2 style="margin: 20px;">スケジュール</h2>
<%= search_form_for @q, url: search_schedules_path do |f| %>
  <div class="d-flex flex-wrap">
  <div class="col-sm-12 col-lg-1">
   <%= f.label :schedule_date, '　　期間' %>
    </div>
    <div class="col-sm-12 col-lg-4">
    <%= f.date_field :schedule_date_gteq,
                  include_blank: true,
                  class: 'form-control'%>
                    </div>
                    <div class="col-sm-12 col-lg-1">　　～
                    </div>
                    <div class="col-sm-12 col-lg-4">
                    <%= f.date_field :schedule_date_lteq, 
    include_blank: true,
    class: 'form-control'%>
      </div>
      <div class="col-sm-12 col-lg-2">
      <%= f.submit '検索', class: "btn btn-primary"  %>
      </div>
      </div>
      </div>
  <% end %>
<br>

<% unless @schedules[0].present? %>
<h2 style="margin: 20px;">該当するスケジュールはありません。</h2>
<% else %>

<div class="example">
 <table>
    <tr>
      <th>名前</th>
      <% @schedules[0].each do |schedule| %>
        <th><%= schedule.schedule_date.strftime("%Y年%m月%d日") %></th>
      <% end %>
    </tr>
  <% uscount = 0 %>
  <% @users.each do |user| %>
      <tr>
        <th>
         <%= user.name %>
        </th>
        <% schecount = @schedules[uscount].length %>
            <% schecount.times do |s| %>
         <td>
         <div class="DivLink">
             <div class="d-flex flex-wrap">
               <div class="col-sm-12 col-lg-12">
                 予定：<%= @schedules[uscount]["#{s}".to_i].status %>
               </div>
               <% if @schedules[uscount]["#{s}".to_i].offday? %>
               <div class="col-sm-12 col-lg-4">
               </div>
               <div class="col-sm-12 col-lg-2">
               </div>
               <div class="col-sm-12 col-lg-4">
               </div>
               <% else %>
               <div class="col-sm-12 col-lg-4">
                 <%= @schedules[uscount]["#{s}".to_i].start_time %>
               </div>
               <div class="col-sm-12 col-lg-2">
               ～ 
               </div>
               <div class="col-sm-12 col-lg-4">
                 <%= @schedules[uscount]["#{s}".to_i].end_time %>
               </div>
               <% end %>
            </div>           
            <%= link_to "確認", schedule_path(@schedules[uscount]["#{s}".to_i].id), {class: "Link"} %>
          </div>           
           </td>
        <% end %>
          <% uscount += 1 %>
      </tr>
    <% end %>
</table>
</div>

<% end %>
