<h2 style="margin: 20px;">スケジュール詳細（<%= @user.name %>：<%= @schedule.schedule_date.strftime("%Y年%m月%d日") %>）</h2>
<div class="new_box">

<div class="d-flex flex-wrap">
    <div class="col-sm-6 col-lg-6">
        日時：
    </div>
    <div class="col-sm-6 col-lg-6">
     <%= @schedule.schedule_date.strftime("%Y年%m月%d日") %>
    </div>
    <div class="col-sm-6 col-lg-6">
        名前：
    </div>
    <div class="col-sm-6 col-lg-6">
     <%= @user.name %>
    </div>

    <div class="col-sm-6 col-lg-6">
        業務予定：
    </div>
    <div class="col-sm-6 col-lg-6">
     <%= @schedule.start_time %> ～ <%= @schedule.end_time %>
    </div>
    <div class="col-sm-6 col-lg-6">
        コメント：
    </div>
    <div class="col-sm-6 col-lg-6">
    <% if @schedule.comment.blank? %>
      コメントなし
    <% else %>
     <%= @schedule.comment %>
    <% end %>
    </div>
        <% if admin_user? %>
          <div class="col-sm-6 col-lg-6">
            <%= link_to '修正', edit_schedule_path(@schedule.id) %>
          </div>
        <% end %>
    <div class="col-sm-6 col-lg-6">
        <%= link_to t('common.back'), schedules_path %>
    </div>
</div>
</div>


