<h2 style="margin: 20px;">申請作成</h2>

<div class="user_box">
<% if @request.errors.any? %>
    <ul>
    <% @request.errors.full_messages.each do |request| %>
      <li><%= request %></li>
    <% end %>
    </ul>
<% end %>

<% documentA = []  %>

<% @documents.each do |document| %>
  <% documentA << [document.name, document.number]  %>
<% end %>

<%= form_with(model: @request, local: true) do |f| %>

<div class="d-flex flex-wrap">
    <div class="col-sm-12 col-lg-5">
        <%= f.label :申請種類 %>：
    </div>
    <div class="col-sm-12 col-lg-7">
        <%= f.select :request_type, documentA %>
    </div>
    <div class="col-sm-12 col-lg-5">
        <%= f.label :修正日 %>　：
    </div>
    <div class="col-sm-12 col-lg-7">
        <%= f.date_field :period %>
    </div>

    <div class="col-sm-12 col-lg-5">
        <%= f.label :開始時間 %>：
    </div>
    <div class="col-sm-12 col-lg-7">
      <%= f.label :終了時間 %>：
    </div>

    <div class="col-sm-12 col-lg-1">
    </div>
    <div class="col-sm-12 col-lg-5">
        <%= f.time_field :start_time, value:f.object.start_time.try(:strftime,'%H:%M') %>
    </div>
    <div class="col-sm-12 col-lg-6">
        <%= f.time_field :end_time,value:f.object.end_time.try(:strftime,'%H:%M') %>
    </div>

    <div class="col-sm-12 col-lg-5">
        <%= f.label :ステータス %>：
    </div>
    <div class="col-sm-12 col-lg-7">
        <%= f.text_field :status %>
    </div>
    <div class="col-sm-12 col-lg-4">
        <%= f.label :理由 %>：
    </div>
    <div class="col-sm-12 col-lg-8">
        <%= f.text_area :reason, maxlength: "200",class: "form-control",id: "exampleFormControlTextarea1", style: "height:120px; wrap:hard;" %>
    </div>
    <div class="col-sm-12 col-lg-4">
        <%= f.submit "申請", class: "btn btn-primary btn-lg", data: { confirm: '送信してもよろしいですか？' } %>
    </div>
</div>
<% end %>
</div>
