<h2 style="margin: 20px;">勤怠表（グループ）</h2>
  
<div class="example">
 <table>
    <tr>
      <th>名前</th>
      <% (Date.today.beginning_of_month..Date.today.end_of_month).each do |date| %>
        <th><%= date.strftime("%Y年%m月%d日") %></th>
      <% end %>
    </tr>
  <% uscount = 0 %>
  <% @users.each do |user| %>
    <tr>
        <th>
         <%= user.name %>
        </th>
        <% attcount = @attendances[uscount].length %>
            <% attcount.times do |s| %>
         <td>
            <% if admin_user? %>
                <div class="DivLink">
                    <% if @attendances[uscount]["#{s}".to_i].edit_flg? %>
                        <font color=red> 
                    <% end %>
                    実績：
                    <%= @attendances[uscount]["#{s}".to_i].start_time %> ～ <%= @attendances[uscount]["#{s}".to_i].end_time %>
                    <% if @attendances[uscount]["#{s}".to_i].edit_flg? %>
                        </font> 
                    <% end %>                    
                    <%= link_to "確認", attendance_path(@attendances[uscount]["#{s}".to_i].id), {class: "Link"} %>
                </div>
            <% else %>
                実績：<%= @attendances[uscount]["#{s}".to_i].start_time %> ～ <%= @attendances[uscount]["#{s}".to_i].end_time %>　
            <% end %>
         </td>
        <% end %>
          <% uscount += 1 %>

    </tr>
    <% end %>
</table>
</div>
