<h2 style="margin: 20px;">勤怠表（グループ）</h2>


<%= search_form_for @q, url: search_attendances_path do |f| %>
  <div class="d-flex flex-wrap">
  <div class="col-sm-12 col-lg-1">
   <%= f.label :attendance_date, '　　期間' %>
    </div>
    <div class="col-sm-12 col-lg-4">
    <%= f.date_field :attendance_date_gteq,
                  include_blank: true,
                  class: 'form-control'%>
                    </div>
                    <div class="col-sm-12 col-lg-1">　　～
                    </div>
                    <div class="col-sm-12 col-lg-4">
                    <%= f.date_field :attendance_date_lteq, 
    include_blank: true,
    class: 'form-control'%>
      </div>
      <div class="col-sm-12 col-lg-2">
      <%= f.submit '検索', class: "btn btn-primary"  %>
      </div>
      </div>
      </div>
  <% end %>
<br>

<% unless @attendances[0].present? %>
<h2 style="margin: 20px;">表示できる勤怠データはありません。</h2>
<% else %>

<div class="example">
 <table>
    <tr>
      <th>名前</th>
      <% (Date.today.beginning_of_month..Date.today.end_of_month).each do |date| %>
        <th><%= date.strftime("%Y年%m月%d日") %></th>
      <% end %>
    </tr>
  <% uscount = 0 %>
  <% @users.each do |user| %>
    <tr>
        <th>
         <%= user.name %>
        </th>
        <% attcount = @attendances[uscount].length %>
            <% attcount.times do |s| %>
         <td>
            <% if admin_user? %>
                <div class="DivLink">
                    <% if @attendances[uscount]["#{s}".to_i].edit_flg? %>
                        <font color=red> 
                    <% end %>
                    実績：
                    <%= @attendances[uscount]["#{s}".to_i].start_time %> ～ <%= @attendances[uscount]["#{s}".to_i].end_time %>
                    <% if @attendances[uscount]["#{s}".to_i].edit_flg? %>
                        </font> 
                    <% end %>                    
                    <%= link_to "確認", attendance_path(@attendances[uscount]["#{s}".to_i].id), {class: "Link"} %>
                </div>
            <% else %>
                実績：<%= @attendances[uscount]["#{s}".to_i].start_time %> ～ <%= @attendances[uscount]["#{s}".to_i].end_time %>
            <% end %>
         </td>
        <% end %>
          <% uscount += 1 %>

    </tr>
    <% end %>
</table>
</div>
<% end %>
