<h1>勤怠表（自分）</h1>

有給日数：<%= @vacation.paid_count %>
振替休暇日数：<%= @vacation.trans_count %>

<table style="width:1000px; border:3px solid; margin:auto; text-align: center;">
    <thead>
      <tr>
        <th style="width:200px;">日付</th>
        <th style="width:300px;">開始時間</th>
        <th style="width:300px;">終了時間</th>
        <th style="width:200px;">修正</th>
      </tr>
    </thead>
  
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td style="border:2px solid"><%= attendance.attendance_date %></td>
          <td style="border:2px solid"><%= attendance.start_time %></td>
          <td style="border:2px solid"><%= attendance.end_time %></td>
          <td style="border:2px solid"><%= link_to '修正', new_request_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>