<h2 style="margin: 20px;">勤怠詳細（<%= @user.name %>：<%= @attendance.attendance_date.strftime("%Y年%m月%d日") %>）</h2>
<div class="user_box">

<div class="d-flex flex-wrap">
    <div class="col-sm-6 col-lg-3">
        日時：
    </div>
    <div class="col-sm-6 col-lg-9">
     <%= @attendance.attendance_date.strftime("%Y年%m月%d日") %>
    </div>
    <div class="col-sm-6 col-lg-3">
        名前：
    </div>
    <div class="col-sm-6 col-lg-9">
     <%= @user.name %>
    </div>
    <div class="col-sm-6 col-lg-3">
        実績：
    </div>
    <div class="col-sm-6 col-lg-9">
      <% if @attendance.edit_flg? %>
        <font color=red> <%= @attendance.start_time %> ～ <%= @attendance.end_time %>（修正済み）</font>
      <% else %>
        <%= @attendance.start_time %> ～ <%= @attendance.end_time %>
      <% end %>
    </div>
    <div class="col-sm-6 col-lg-3">
        コメント：
    </div>
    <div class="col-sm-6 col-lg-9">
    <% if @attendance.comment.blank? %>
      コメントなし
    <% else %>
     <%= @attendance.comment %>
    <% end %>
    </div>
        <% if admin_user? %>
          <div class="col-sm-6 col-lg-3">
            <h5 style="margin-top: 30px;"><%= link_to '修正', edit_attendance_path(@attendance.id) %></h5>
          </div>
        <% end %>
    <div class="col-sm-6 col-lg-9">
       <h5 style="margin-top: 30px;"><%= link_to '戻る（自分の勤怠）', attendances_path %></h5>
    </div>
        <% if admin_user? %>
          <div class="col-sm-6 col-lg-3">
          </div>
        <% end %>
    <div class="col-sm-6 col-lg-9">
       <h5 style="margin-top: 10px;"><%= link_to '戻る（グループ勤怠）', group_attendances_path %></h5>
    </div>
</div>
</div>

